<div class="d-flex flex-column align-items-center mt-5">
  <h4>請輸入你的支出</h4>
  <form action="/records" method="POST">
    <div class="mb-3">
      <p class="mb-3"><span class="text-danger">*</span>必填欄位</p>
      <label for="name" class="mb-2">名稱<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="date" class="mb-2">日期<span class="text-danger">*</span></label>
      <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <div class="mb-3">
      <label for="categoryId">類別<span class="text-danger">*</span></label>
      <select class="form-control" id="categoryId" name="categoryId" required>
        <option value="" selected>請選擇</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="amount" class="mb-2">金額<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="amount" name="amount" placeholder="輸入金額" required>
    </div>
    <button type="submit" class="btn btn-primary">送出</button>
  </form>
</div>