<div class="d-flex flex-column align-items-center mt-5">
  {{!-- 排序方式 --}}
  <form class="d-flex flex-row" action="/" method="GET">
    <div class="category-group input-group" style="width:400px">
      <select class="form-select col" id="category" name="categoryId" onchange="this.form.submit()">
        <option value="6" {{#ifCond 6 id }}selected{{/ifCond}}>類別</option>
        <option value="1" {{#ifCond 1 id }}selected{{/ifCond}}>家居物業</option>
        <option value="2" {{#ifCond 2 id }}selected{{/ifCond}}>交通出行</option>
        <option value="3" {{#ifCond 3 id }}selected{{/ifCond}}>休閒娛樂</option>
        <option value="4" {{#ifCond 4 id }}selected{{/ifCond}}>餐飲食品</option>
        <option value="5" {{#ifCond 5 id }}selected{{/ifCond}}>其他</option>
      </select>
    </div>
  </form>
  {{!-- amount --}}
  <div class="row">
    <div class="total-amount d-flex flex-column align-items-center m-5">
      <h2 style="text-align: center">總金額:${{totalAmount}} 元</h2>
    </div>
  </div>
  {{!-- records --}}
  <ul class="record-list list-group list-group-light" style="width: 700px">
    {{#each records}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        {{#ifCond 1 this.categoryId}}<i class="fa-solid fa-house"></i>{{/ifCond}}
        {{#ifCond 2 this.categoryId}}<i class="fa-solid fa-van-shuttle"></i>{{/ifCond}}
        {{#ifCond 3 this.categoryId}}<i class="fa-solid fa-face-grin-beam"></i>{{/ifCond}}
        {{#ifCond 4 this.categoryId}}<i class="fa-solid fa-utensils"></i>{{/ifCond}}
        {{#ifCond 5 this.categoryId}}<i class="fa-solid fa-pen"></i>{{/ifCond}}
      </div>

      <div class="column">
        <a href="./records/{{ this._id }}/edit" class="btn  btn-success btn-sm mt-5" style="display: inline-block;"><i
            class="fa-solid fa-circle-plus me-2"></i>修改</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn  btn-success btn-sm mt-5"><i
              class="fa-solid fa-circle-minus me-2"></i>刪除</button>
        </form>
      </div>

    </li>
    {{/each}}

  </ul>
  <div class="add-btn mb-5">
    <a href="/records/new" class="btn btn-primary mt-5">
      <i class="fa-solid fa-circle-plus me-2"></i>
      新增支出
    </a>
  </div>
</div>