<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form action="/records" method="POST">
        <div class="title d-flex mb-4">
          <h5 class="mr-5">*必填欄位</h5>
          <h2 class="ml-4">請輸入你的支出</h2>
        </div>

        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">名稱*</span>
          </div>
          <input type="text" class="form-control" name="name" required>
        </div>

        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">日期*</span>
          </div>
          <input type="date" class="form-control" name="date" required>
        </div>

        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <label for="category" class="input-group-text">類別*</label>
          </div>
          <select name="category" id="category" class="form-control">
            {{#each categories}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">金額*</span>
          </div>
          <input type="number" class="form-control" min="0" name="amount" required>
        </div>

        <div class="button ">
          <button type="submit" class="btn btn-primary">新增支出</button>
        </div>
      </form>
    </div>
  </div>
</div>