<div class="d-flex flex-column align-items-center mt-5">
  <h4>請輸日入你的支出</h4>
  <form action="/records" method="POST">
    <div class="mb-3">
      <label for="name" class="mb-2">名稱<span class="text-danger">*</span></label>
      <input type="text" class="form-control" placeholder="name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="date" class="mb-2">日期<span class="text-danger">*</span></label>
      <input type="date" class="form-control" name="date" required>
    </div>
    <div class="mb-3">
      <label for="categoryId" class="mb-2">類別<span class="text-danger">*</span></label>
      <select name="form-control" id="categoryId" name="categoryId" required>
        <option value="">請選擇類別</option>
        {{#each categories}}
        <option value="{{this._id}}">{{.this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="mb-3">
      <label for="amount" class="mb-2">金額<span class="text-danger">*</span></label>
      <input type="number" class="form-control" name="amount" placeholder="輸入金額" step="0.01" required>
    </div>
    <button type="submit" class="btn btn-primary">新增支出</button>
  </form>
</div>